.app-container {
  display: flex;
}

.sidebar {
  width: 60px;
  background-color: #336699;
}

.content {
  flex: 1;
  padding: 20px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.metrics {
  display: flex;
  gap: 20px;
}

.chart-button, .back-button {
  text-decoration: none;
  padding: 10px 15px;
  background-color: #336699;
  color: white;
  border-radius: 5px;
}

.charts {
  display: grid;
  gap: 20px;
}

.table {
  
}